Repository src-d/guide, changes with the owners that CODEOWNERS names for each.
All owners: @jorgeschnura, @campoy, @mcuadros, @estherrgarcia, @tsolakoua, @marnovo

CODEOWNERS:

# default
* @jorgeschnura 

# sections
developer-community/* @campoy 
engineering/* @mcuadros 
office/* @estherrgarcia 
talent/* @tsolakoua
product/* @marnovo

Update tools.md
  general/tools.md
Owners: @jorgeschnura

Update onboarding.md
  talent/onboarding/onboarding.md
Owners: @jorgeschnura

Update application-process.md
  talent/application-process.md
Owners: @tsolakoua

Update hiring_process.md
  talent/hiring_process.md
Owners: @tsolakoua

Update onboarding.md
  talent/onboarding/onboarding.md
Owners: @jorgeschnura

Update onboarding.md
  talent/onboarding/onboarding.md
Owners: @jorgeschnura

Update senior-ds.md
  talent/job-descriptions/senior-ds.md
Owners: @jorgeschnura

Update senior-ds.md
  talent/job-descriptions/senior-ds.md
Owners: @jorgeschnura

Update senior-ds.md
  talent/job-descriptions/senior-ds.md
Owners: @jorgeschnura

Update intern-ds.md
  talent/job-descriptions/intern-ds.md
Owners: @jorgeschnura

Update onboarding.md
  talent/onboarding/onboarding.md
Owners: @jorgeschnura

adding arbitrary choices and consistency section (#119)
  engineering/documentation.md
Owners: @mcuadros

fix code of conduct text
  engineering/documentation.md
Owners: @mcuadros

UPdated options vested, granted and outstanding
  talent/esop.md
Owners: @tsolakoua
